<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="stylesheet.css">
<head>
    <meta charset="UTF-8">
    <title>Wall Street Bet's Picks</title>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-7901715217079030",
        enable_page_level_ads: true
      });
    </script>
</head>
<body>
<div id="top">
    <h1 id="presenting">Presenting based on the DD of <a href="reddit.com/r/wallstreetbets">/r/WSB</a></h1>
    <p id="description">Through the power of Algorithms™, Python, "Machine Learning¹", shitty web design, and a wasted Sunday I present to you
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">/r/WSB's</a> hot stock picks²! </p>
    <p id="footnotes">
        ¹I had like a dozen elif statements but I replaced them with a lambda function that I copied off the internet and don't understand. <br>
        ²This is not stock advice, do not invest based on this, investing based on this will likely lead to utter ruin.
    </p>
</div>
<div id="puts">
    <h2>Top 5 Bearish</h2>
    <div class="Symbol">
        SYMBOL | 1D <br>
        <a target="_blank" href="https://finviz.com/quote.ashx?t={{put1_sym}}">{{put1_sym}} | {% if '-' not in put1_chn %}+{% endif %}{{put1_chn}}%</a><br>
        <a target="_blank" href="https://finviz.com/quote.ashx?t={{put2_sym}}">{{put2_sym}} | {% if '-' not in put2_chn %}+{% endif %}{{put2_chn}}%</a><br>
        <a target="_blank" href="https://finviz.com/quote.ashx?t={{put3_sym}}">{{put3_sym}} | {% if '-' not in put3_chn %}+{% endif %}{{put3_chn}}%</a><br>
        <a target="_blank" href="https://finviz.com/quote.ashx?t={{put4_sym}}">{{put4_sym}} | {% if '-' not in put4_chn %}+{% endif %}{{put4_chn}}%</a><br>
        <a target="_blank" href="https://finviz.com/quote.ashx?t={{put5_sym}}">{{put5_sym}} | {% if '-' not in put5_chn %}+{% endif %}{{put5_chn}}%</a><br>
    </div>
    <div class="Total">
        FAITH <br>
        {{put1_total}} <br>
        {{put2_total}} <br>
        {{put3_total}} <br>
        {{put4_total}} <br>
        {{put5_total}} <br>
    </div>
    <div class="For">
        BULLS <br>
        {{put1_up}} <br>
        {{put2_up}} <br>
        {{put3_up}} <br>
        {{put4_up}} <br>
        {{put5_up}} <br>
    </div>
    <div class="Against">
        BEARS <br>
        {{put1_down}} <br>
        {{put2_down}} <br>
        {{put3_down}} <br>
        {{put4_down}} <br>
        {{put5_down}} <br>
    </div>
</div>
<div id="calls">
    <h2>Top 5 Bullish</h2>
    <div class="Symbol">
        SYMBOL | 1D <br>
        <a target="_blank" href="https://finviz.com/quote.ashx?t={{call1_sym}}">{{call1_sym}} | {% if '-' not in call1_chn %}+{% endif %}{{call1_chn}}%</a><br>
        <a target="_blank" href="https://finviz.com/quote.ashx?t={{call2_sym}}">{{call2_sym}} | {% if '-' not in call2_chn %}+{% endif %}{{call2_chn}}%</a><br>
        <a target="_blank" href="https://finviz.com/quote.ashx?t={{call3_sym}}">{{call3_sym}} | {% if '-' not in call3_chn %}+{% endif %}{{call3_chn}}%</a><br>
        <a target="_blank" href="https://finviz.com/quote.ashx?t={{call4_sym}}">{{call4_sym}} | {% if '-' not in call4_chn %}+{% endif %}{{call4_chn}}%</a><br>
        <a target="_blank" href="https://finviz.com/quote.ashx?t={{call5_sym}}">{{call5_sym}} | {% if '-' not in call5_chn %}+{% endif %}{{call5_chn}}%</a><br>
    </div>
    <div class="Total">
        FAITH <br>
        {{call1_total}} <br>
        {{call2_total}} <br>
        {{call3_total}} <br>
        {{call4_total}} <br>
        {{call5_total}} <br>
    </div>
    <div class="For">
        BULLS <br>
        {{call1_up}} <br>
        {{call2_up}} <br>
        {{call3_up}} <br>
        {{call4_up}} <br>
        {{call5_up}} <br>
    </div>
    <div class="Against">
        BEARS <br>
        {{call1_down}} <br>
        {{call2_down}} <br>
        {{call3_down}} <br>
        {{call4_down}} <br>
        {{call5_down}} <br>
    </div>
</div>
<div id="popular">
    <p id="Pop">Tickers by # of Mentions</p>
    <br>
    <a target="_blank" href="https://finviz.com/quote.ashx?t={{pop1}}">{{pop1}}</a>[{{val1}}]    |    <a target="_blank" href="https://finviz.com/quote.ashx?t={{pop2}}">{{pop2}}</a>[{{val2}}]    |    <a target="_blank" href="https://finviz.com/quote.ashx?t={{pop3}}">{{pop3}}</a>[{{val3}}]    |    <a target="_blank" href="https://finviz.com/quote.ashx?t={{pop4}}">{{pop4}}</a>[{{val4}}]    |    <a target="_blank" href="https://finviz.com/quote.ashx?t={{pop5}}">{{pop5}}</a>[{{val5}}]    |    <a target="_blank" href="https://finviz.com/quote.ashx?t={{pop6}}">{{pop6}}</a>[{{val6}}]    |    <a target="_blank" href="https://finviz.com/quote.ashx?t={{pop7}}">{{pop7}}</a>[{{val7}}]    |    <a target="_blank" href="https://finviz.com/quote.ashx?t={{pop8}}">{{pop8}}</a>[{{val8}}]    |    <a target="_blank" href="https://finviz.com/quote.ashx?t={{pop9}}">{{pop9}}</a>[{{val9}}]    |    <a target="_blank" href="https://finviz.com/quote.ashx?t={{pop10}}">{{pop10}}</a>[{{val10}}]
</div>
</body>
</html>
