body {
    background: #101012;
    font-family: sans-serif;
}

a{
    color: inherit;
}

#top {
float: top;
text-align: center;
background: #C1C1C1;
border: 3px solid #909190;
border-radius: 10px;
padding: 5px 15px 15px 15px;
}

#presenting {
font-size: 36px;
}

#description {
font-size: 26px;
}

#footnotes {
    font-size: 8px;
    text-align: left;
}

#puts {
    font-size: 24px;
    float: left;
    width: 48%;
    text-align: center;
    border-radius: 10px;
    line-height: 1.5;
    padding: 10px 0;
    background: #FF3B21;
    color: #101012;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 1.0), 0 3px 24px rgba(48, 51, 51, 1.0);
}

#calls {
    font-size: 24px;
    float: right;
    width: 48%;
    text-align: center;
    border-radius: 10px;
    line-height: 1.5;
    padding: 10px 0;
    background: #00C78B;
    color: #101012;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 1.0), 0 3px 24px rgba(48, 51, 51, 1.0);
}

.Symbol {
    float: left;
    width: 25%;
    font-weight: bold;
}

.Total {
    float: left;
    width: 25%;
}

.For {
    float: left;
    width: 25%;
}

.Against {
    float: left;
    width: 25%;
}

#popular {
    margin: auto;
    width: 90%;
    text-align: center;
    line-height: 1.5;
    padding-bottom: 20px;
    color: white;
    left: 5%;
    font-size: 24px;
}

#pop {
    color: white;
    font-size: 16px;
    padding-top: 20px;
    margin-top: 20px;
}
